body {
    background-color:  hsl(212, 45%, 89%);
    height: 800px;
    font-size: 15px;
}

.attribution {
    position: relative;
    top: 70px;
    font-family: sans-serif;
}

.bigtext {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 0 auto 16px;
    font-size: 22px;
}

.normaltext {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    margin: 0 auto;
}
.image {
    height: 288px;
    width: 288px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 24px;
}

.qr {
    background-color: white;
    font-family: 'Outfit';
    margin: auto;
    width: 288px;
    border-radius: 20px;
    padding: 16px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    top: 30px;
}

.text {
    padding: 0 16px 0;
}

/*t
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
    font-size: 20px;
  }
}
*/
